/* TABLET */
@media (min-width: 768px){

    #contenedor-habitaciones{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

}
/*Computador*/
@media (min-width: 1024px){

    .card{
        max-width: 350px;
    }

}