/*  @media(max-width: 768px){
    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    .hero-content{
        width: 90%;
    }

    .carousel{
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .carousel img{
        width: 100%;
    }

} */

@media(max-width: 768px){
    .contenedor-slides{
        height: 300px;
    }

    .info-slide{
        left: 20px;
        right: 20px;
        bottom: 20px;
    }

    .info-slide h3{
        font-size: 1.2rem;
    }

    .btn-carrusel{
        font-size: 1.5rem;
    }
}

/* =========================
   TABLET
========================= */

@media (min-width: 768px){

    .imagen-carrusel{

        height: 400px;
    }

    #anterior,
    #siguiente{

        top: 200px;
    }

    .parte-pagar{

        max-width: 600px;
    }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 1024px){

    .detalle-reserva{

        flex-direction: row;
    }

    .imagen-carrusel{

        width: 50%;
        height: auto;
    }

    .info{

        width: 50%;
        justify-content: center;
    }

    #anterior,
    #siguiente{

        top: 50%;
    }

    #siguiente{

        right: 52%;
    }

    .parte-pagar{

        max-width: 700px;
    }
}