/* font family para todo es:  Georgia, 'Times New Roman', Times, serif */

/* Paleta de colores y diseño general */

:root{
    --color-oscuro: #4d0011;
    --color-rojo: #7b1830;
    --color-beige: #dbbe9b;
    --color-blanco: #f8f1d6;
}

/* Index */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--color-blanco);
    color: var(--color-oscuro);
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-oscuro);
    
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar h1{
    color: var(--color-blanco);
}

.navbar nav{
    display: flex;
    gap: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

/* Usuario */
.seccion-usuario{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.seccion-usuario button{
    margin-top: 0;
    padding: 8px 15px;
    background: white;
    color: black;
    border-radius: 5px;
}

/* Hero */

.hero{
    height: 90vh;
    background-image: url("/assets/images/hotel-blanco-y-negro.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    background-color: rgb(37, 23, 23);
    padding: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.hero-content h2{
    font-size: 2.5rem;
}

.hero-content p{
    margin-top: 10px;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #7b1830;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.05);
}

/* Barra buscadora */
.search-section{
    padding: 30px;
}

#search-bar{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.pregunta-search-bar{
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

/* Titulos */
.titulo-seccion{
    margin: 30px;
    font-size: 2rem;
}

/* Servicios destacados */
.fila-servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 30px;
}

.tarjeta-servicio{
    background: var(--color-blanco);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(25, 25, 25);
    transition: 0.5s;
}

.tarjeta-servicio:hover{
    transform: scale(1.02);
}

.servicio-imagen{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.titulo-servicio{
    font-size: 2rem;
    margin-bottom: 40px;
    padding: 30px;
    font-weight: bold;
}

/* Habitaciones destacadas */
.habitaciones{
    padding: 60px 20px;
    background: rgb(255, 223, 209);
}

.scroll-habitaciones{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
}

.scroll-habitaciones::-webkit-scrollbar-track{
    background: var(--color-rojo);
    border-radius: 20px;
}

.scroll-habitaciones::-webkit-scrollbar-thumb{
    background: var(--color-rojo);
    border-radius: 20px;
}

.card-habitacion{
    min-width: 400px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.card-habitacion img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-habitacion:hover{
    transform: translateY(-5px);
}

.info-habitacion{
    padding: 20px;
}

.info-habitacion h3{
    color: var(--color-oscuro);
    margin-bottom: 10px;
    font-size: 2rem;
}

.info-habitacion p{
    color: var(--color-oscuro);
    font-size: 1.2rem;
}

/* Carrusel Todos nuestros servicios */
.seccion-carrusel{
    padding: 60px 20px;
    background: var(--color-beige);
    text-align: center;
}

.carrusel-container{
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}

.carrusel-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}

.carrusel-container img:hover{
    transform: scale(1.03);
}

.contenedor-slides{
    position: relative;
    width: 100%;
    height: 500px;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide.active{
    opacity: 1;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-slide{
    position: absolute;
    bottom: 40px;
    left: 40px;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.info-slide h3{
    font-size: 2rem;
    margin-bottom: 10px;
}

.btn-carrusel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 100;
}

.prev{
    left: 20px;
}

.next{
    right: 20px;
}

.btn-carrusel:hover{
    background: rgba(0,0,0,0.8);
}

/* Footer */
footer{
    background-color: var(--color-oscuro);
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    text-align: center;
}

footer a:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 2s;
}

/* Sidebar */
.sidebar{
    position: fixed;
    left: -300px;
    top: 0;
    width: 250px;
    height: 100%;
    background: var(--color-blanco);
    transition: 0.5s;
    z-index: 2000;
    padding: 20px;
}

.boton-sidebar{
    display: none;
}

.boton-sidebar:checked ~ .sidebar{
    left: 0;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1500;
}

.boton-sidebar:checked ~ .overlay{
    display: block;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links{
    margin-top: 30px;
    list-style: none;
}

.menu-links li{
    margin-bottom: 20px;
}

.menu-links a{
    text-decoration: none;
    color: var(--color-oscuro);
    font-size: 1.1rem;
}

.menu-logo{
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.btn-cerrar{
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}
.detalle{
    background-color: var(--color-blanco);
}
